<div class="p-2 sm:p-4 bg-white shadow">
  <h1 class="text-2xl sm:text-3xl md:text-4xl mb-2">
    <a class="{{ site.link_class }}" href="{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  <span class="sm:text-lg md:text-xl lg:text-2xl">
    {{ site.data.i18n.post_card.published_at | t }}
    {{ include.post.date | tdate }}
  </span>
  <div class="{{ site.prose_class }} mt-4">
    {{ include.post.excerpt | markdownify }}
  </div>
  <a href="{{ include.post.url }}" class="{{ site.link_class }} text-xl">
    {{ site.data.i18n.post_card.read_more | t }}
  </a>
</div>
