---
layout: default
---
<div class="flex py-2 px-10">
  <div class="w-1/2">
    <h1 class="text-4xl font-extrabold">
      PBDoom
    </h1>
    <p class="text-2xl mb-4">
      Doom for PocketBook eInk devices.
    </p>

    {% capture bc %}
      Downlod PBDoom ({{ site.data.releases[0].name }})
    {% endcapture %}
    {% assign href  = site.data.releases[0].download_url%}
    {% include button.html
      href=href
      icon="heroicons/solid/document_arrow_down.svg"
      text=bc
      class="w-full h-20 justify-center text-xl"
    %}
    <h2 class="text-2xl font-bold mt-2 mb-1">Installation</h2>
    <p>
      <ol class="list-decimal">
        <li>
          Unzip the archive into the <span class="font-mono">applications</span> folder
          on your device
        </li>
        <li>
          Place your WAD file to <span class="font-mono">applications/pbdoom</span>
          folder <br>
          WAD file name should be <b class="font-bold">all lower case</b>:
          (not <span class="font-mono">DOOM2.WAD</span> but <span class="font-mono">doom2.wad</span>)
        </li>
        <li>
          Your file structure should be like this:<br>
<pre class="bg-sky-200">applications
├── pbdoom
│   ├── doom2.wad
│   ├── game.app
└── pbdoom.app</pre>
        </li>
        <li>
          Run the game using the <span class="font-mono">pbdoom</span> icon in the Applications menu
        </li>
      </ol>
    <h2 class="text-2xl font-bold mt-2 mb-1">Device compatibility</h2>
    <p>
      PBDoom is known to be running on:
      <ul class="list-disc">
        <li>PocketBook X</li>
        <li>PocketBook Touch HD 3</li>
      </ul>
    <h2 class="text-2xl font-bold mt-2 mb-1">Source code and contacts</h2>
    <p>
      All source code, issues, feature requests are in our GitHub project: <br>
      {% include button.html
        icon="github_icon.svg"
        text="PBDoom on GitHub"
        href="https://github.com/imustafin/pbdoom/"
      %}
    </p>
  </div>
  <div class="w-1/2 px-16" id="default-carousel" data-carousel="slide">
    <!-- dark for flowbite carousel indicators being hardcoded with inverse colors -->
    <div class="dark mx-auto relative w-full h-[600px] shadow bg-gray-400/50 flex flex-col">
      <div class="flex flex-col relative overflow-hidden h-full w-full">
        {% for item in site.data.index_carousel %}
          <div class="hidden flex flex-col h-full duration-700 ease-in-out" data-carousel-item>
            <img
              src="{{ item.image }}"
              class="h-full mx-auto pt-2"
            >
            <div
              class="w-full bottom-0 text-gray-800 pt-2 text-center font-bold"
            >
              {{ item.text }}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="flex items-center justify-center space-x-3 w-full h-10 z-30">
        {% for item in site.data.index_carousel %}
          <button
            aria-current="{{ forloop.first }}"
            type="button"
            class="w-3 h-3 rounded-full"
            data-carousel-slide-to="{{ forloop.index0 }}"
          ></button>
        {% endfor %}
      </div>

      <div class="absolute h-full w-full">
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/30 group-hover:bg-black/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/30 group-hover:bg-black/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
